.App {
  display: flex;
}

.list {
  flex-basis: 20%;
}

thead, tbody { display: block; }
tbody {
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.map {
  flex-basis: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
